body {
  margin: 0;
  background: yellow;
  @include media(">=768px") {
    background: #9f0;
  }
  @include media(">=992px") {
    background: teal;
  }
}
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
*,
*::before,
*::after {
  box-sizing: border-box;
}

.intro {
  position: relative;
  .img-holder {
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }
}
.img-logo {
  padding-left: 50px;
}
.nav {
  ul {
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    li {
      padding-left: 60px;
    }
  }
  a {
    &:hover {
      color: #a2ca28;
    }
    text-decoration: none;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
}
.header {
  position: absolute;
  height: 115px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slogan {
  position: absolute;
  text-transform: uppercase;
  width: 350px;
  bottom: 130px;
  left: 115px;
  h1 {
    font-size: 40px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  span {
    color: #a2ca28;
  }
  .slogan-can {
    font-size: 15px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 25px;
    padding-left: 220px;

    span {
      color: #fd634e;
    }
  }
}
.contentGreen {
  @include box($atlantis);
  .data:nth-child(even) {
    .dataContent {
      order: 1;
    }
    .dataImg {
      order: 2;
    }
  }
  @include media(">=768px") {
    .data:nth-child(even) {
      .dataContent {
        order: 2;
      }
      .dataImg {
        order: 1;
      }
    }
  }
}

// green start

.green-info {
  @include media(">=1180px") {
    width: 1180px;
    margin: auto;
    display: flex;

    padding: 175px 0 160px 0;
  }
}
.green-wrapper {
  display: flex;
}
.green-inner {
  width: 260px;
  margin-right: 40px;
  position: relative;
  .green-title {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
  }
  p {
    color: #fff;
    font: 13px/25px "Montserrat", sans-serif;
    font-weight: 400;
    padding-top: 15px;
  }
  a {
    position: absolute;
    bottom: -37px;
    text-decoration: none;
    font: 13.5px/25px "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}
.res {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: url(../images/res.png) no-repeat;
    height: 50px;
    width: 50px;
    display: block;
    top: -60px;
    left: 0;
    color: #fff;
  }
}
.training {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: url(../images/training.png) no-repeat;
    height: 50px;
    width: 50px;
    display: block;
    top: -60px;
    left: 0;
    color: #fff;
  }
}
.connect {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: url(../images/connect.png) no-repeat;
    height: 50px;
    width: 50px;
    display: block;
    top: -60px;
    left: 0;
    color: #fff;
  }
}
.comm {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: url(../images/comm.png) no-repeat;
    height: 50px;
    width: 50px;
    display: block;
    top: -60px;
    left: 0;
    color: #fff;
  }
}
// green end

.data {
  display: flex;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  flex-wrap: wrap;
  @include media(">=768px") {
    flex-wrap: nowrap;
  }
  @include media(">=1180px") {
    width: 1180px;
    margin: auto;
  }
}
.dataContent {
  width: 400px;
  padding: 35px;
  text-align: center;
  @include media(">=768px") {
    padding: 50px 35px;
  }
}
.dataContent {
  span {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fd634e;
    font-size: 14px;
    font-weight: 600;
  }
  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #a2ca28;
    text-transform: uppercase;
    padding-top: 13px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background: url(../images/Shape-gray.png) no-repeat;
      width: 15px;
      height: 25px;
      top: 71px;
      right: 160px;
    }
  }
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #656e74;
    padding-top: 70px;
  }
  a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #a2ca28;
    line-height: 26px;
    &:hover {
      text-decoration: none;
    }
  }
}
.dataImg {
  height: 394px;
  overflow: hidden;
  position: relative;
  @include media(">=768px") {
    flex: 1;
  }
  img {
    width: auto;
    display: block;
  }
}
.use {
  position: absolute;
  right: 70px;
  bottom: 50px;
  color: #f7614c;
  font-size: 12px;

  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background: url(../images/Shape.png) no-repeat;
      height: 35px;
      width: 20px;
      display: block;
      right: -33px;
      bottom: -10px;
    }
    color: #fff;
    padding-left: 2px;
  }
}
.prod-use {
  left: 25px;
  bottom: 50px;
  color: #fff;
}
